version: 2.1

# Setup workflow - only triggers continue config if JAR files changed
setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            workload/mfx-aggre-data-platform/custom_nifi/jars/.*\.json run-main-workflow true
