version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            workload/mfx-aggre-data-platform/custom_nifi/jars/.*.json jar-manifest-changed true
            workload/mfx-aggre-data-platform/custom_nifi/Dockerfile dockerfile-changed true